{{ if eq .chezmoi.os "linux" -}}
  #!/bin/bash

  chsh -s /bin/zsh

  git clone https://github.com/zsh-users/zsh-autosuggestions ~/.zsh/zsh-autosuggestions
  git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ~/.zsh/zsh-syntax-highlighting


  sudo systemctl enable --now docker gdm 

  sudo groupadd docker
  sudo usermod -aG docker $USER
  newgrp docker

  DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker}
  mkdir -p $DOCKER_CONFIG/cli-plugins
  curl -SL https://github.com/docker/compose/releases/download/v2.23.3/docker-compose-linux-x86_64 -o $DOCKER_CONFIG/cli-plugins/docker-compose
{{ end -}}