{{ if eq .chezmoi.os "linux" -}}
  #!/bin/bash

  {{ range .packages.arch.pacman -}}
    sudo pacman -S --needed {{ . | quote }}
  {{ end -}}
  {{ range .packages.arch.aur -}}
    paru -S --needed {{ . | quote }}
  {{ end -}}
{{ end -}}